.navbar-main {

 /* border: 1px solid black;  */
 background-color: white;
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
  
}
.navbar-links {
  
   /* border: 1px solid black;  */
  width: 800px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.navbar-links li a{
  text-shadow: 1px 1px 10px #162A4A;
    text-decoration: none;
    color: #162A4A;
    font-family: serif;
    font-weight: 400;
    font-size: 18px;

}
.navbar-links li {
   
    height: fit-content;
    /* border-bottom: 1px  white solid; */
}
.navbar-logo{
  /* border: 1px solid black; */
    height: inherit;
}

.navbar-logo img{
  width: 150px;
    height: 100%;
    border-radius: 0px 0px 14px 14px;
}
@media only screen and (max-width: 768px){
  .navbar{
    height: 85px;
  }
  .navbar-links{
    width: 400px;
  }
  .navbar-logo img{
    width: 230px;
    height: 85px;
  }
  .navbar-links{
    display: none;
  }
}