.BodyNew{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px -6px #000000;
    width: 95vw;
    height: 500px;
    margin: 50px;
      
}

.news-ticker-div{
    width: 300px;
    height: 300px;
    margin: auto;
}
.news-ticker-div>img{
    height: 500px;
    width: 500px;
}