.BodyNew{
    background-color: rgb(252, 223, 210);
    border: 1px solid black;
    width: 800px;
    height: 550px;
    
}
.news-ticker-div{
    width: 300px;
    height: 300px;
    margin: auto;
}
.news-ticker-div>img{
    height: 500px;
    width: 500px;
}