.admin-grade-contaniner{
    width: 100vw;
    height: 100vh;
    margin: auto;
    
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border: 3px solid #17294A;
  border-left: none;
  padding: 5px;
  height: 36px;
  border-radius:0 5px   5px 0;
  outline: none;
  color: #9dbfaf;
}

.search-term:focus {
  color: #7CA8C5;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #17294A;
  background: #17294A;
  text-align: center;
  color: #fff;
  border-radius: 5px 0   0 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 300px;
  margin:50px 0 ;
}

.table {
  

  border: 1px solid black;
  width: 70vw;
  height: 50vh;
  margin-bottom: 20px;
  border: none !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  
}
.table th,
.table td {
  box-shadow: inset 0 1px rgb(216, 196, 188), inset 0 1px rgb(105, 97, 94);
}
.table th {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  padding: 1em;
  color: #17294A;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 1.7em;
}
.table td {
  color: #141414;
  padding: 0.7em 1em 0.7em 1.15em;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  font-size: 1.4em;
}
.table tr {
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}
.table tr:hover {
  background: rgba(0, 0, 0, 0.19);
}
