#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding: 15px;
  width: 100%;
}
.forum-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.forum-form .name {
  width: 20%;
}
.forum-form .text {
  width: 70%;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #ffab3d;
  color: #ffab3d;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.from-dev input:hover,
input:focus {
  background-color: white;
}

#button-forum-submit {
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #ffab3d;
  color: white;
  font-size: 24px;
  padding: 7px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-forum-submit:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ffab3d;
}

.submit:hover {
  color: #ffab3d;
}

/* .ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
} */

.submit:hover .ease {
  width: 100%;
  background-color: white;
}
